<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">AboutMe</a></li>
			<li><a href="/post">MyShare</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:15320171151889@stu.xmu.edu.cn">email</a></li>
	        		<li><a href="https://github.com/lshanzheng">welcome to visit my repo on Github </a></li>
				</ul>
			</footer>
		</body>
	</html>
